@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------  heading */
.logo {
    float: left;
    font-family: Roboto Mono,Times, serif;
    letter-spacing: 4px;
    font-size: 44px;

}
.logo h1,a {
    color: rgb(16, 2, 80);
    padding-left: 10px;
    font-weight: 1100;
    



}
.logo a:hover {
    color: rgb(82, 52, 219);
    text-decoration: none;
}
.menu ul {
    float: right;
    padding-top: 5px;
}
.menu a {
    color: rgb(16, 2, 80);
}
.menu a:hover {
    color: rgb(82, 52, 219);
}
span {
    font-size: 20px;
    font-weight: 600;
    font-family: Roboto Mono,'Times New Roman', Times, serif;

}
header {
    background-color: #fafafa;
}

/* --------------------------  hero-image */
/*
.container-heroimage {
    height: 100vh;
    background: url('../images/heroimage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 
*/
.container-heroimage {
    position: relative;
    background:#fafafa;
    overflow: hidden;
    height: 90vh;

}
.container-heroimage:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90vh;
    z-index: 1;
    opacity: 0.7;
    background-image: url('../images/heroimage.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.heroimage-box {
    text-align: center;
    z-index: 2;
    position: relative ;
    top: 100px;
}


.heroimage-box h1 {
    font-weight: 700;
    color: rgb(28, 3, 139);
    margin-bottom: 30px;;
    font-family: Roboto,serif ;
    margin-bottom: 60px;
    letter-spacing: 6px;
}
.heroimage-box p {
    color: rgb(28, 3, 139);
    margin: 18px 0;
    font-family: Roboto,serif ;

}
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;

}
/* --------------------------  Table Section */
.classes-container{
    background-color: #fafafa;
}

.empty {
    height: 30px;
}
.row-style {
    background-color: #dbd5d5;
}
.table-title {
    background-color: #b8b3b3;
    color:rgb(28, 3, 139);
    font-family: Roboto,serif ;

}
.heading-classes {
    padding: 90px 30px 30px 30px;
    text-align: center;
    font-family: Roboto,serif ;
    color:rgb(28, 3, 139);
    letter-spacing: 2px;
}

/* --------------------------  Review Section */

.review-heading {
    text-align: center;
}
.review-heading h2 {
    padding: 45px 0; 
    text-align: center;
    font-family: Roboto,serif ;
    color:rgb(28, 3, 139);
    letter-spacing: 2px;
}
.review-body {
    text-align: left;
}
.table-review {
    background-color: #fafafa;
}

/* --------------------------  Find Us Section */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}